* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cell img{
  width: 48px;
  height: 48px;
  position: relative;
} */

.black {
  background-color: rgb(81, 81, 81);
}

.white {
  background-color: rgb(208, 166, 40);
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;  
  width: 12px;  
  border-radius: 50%;
  background-color: green;;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}